*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
.footer{
  background-image: url("./images/c_image.jpg");
  /* background-color: aqua; */
  color: antiquewhite;
  
}
.footer h5{
  text-align: center;
  
}
.footer form{
  /* border: 2px solid black; */
  padding-left: 80px; 
  padding-right: 60px;
  padding-top: 40px;
  
}
#message{
  height: 120px;
  width:600px;
  padding-top: 40px;
}
.last{
  position: relative;
  top: 60px;
}



@media screen and (max-width: 740px){
  .footer form{
    margin-left: 0;
    padding: 0px;  
  }
  /* #message{
    width: 170px;
    height: 20px;
  } */
  .last{
    top: 20px;
  }
}